<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content=width=device-width, initial-scale=1.0>
    <title>Bar do Doió 🍺</title>
     
    <link rel="stylesheet" href="{{url_for('static' , filename='css/style.css') }}">
</head>
<body>


    <h1>Bar do Doió 🍺</h1>
    <p>Bem-vindo ao nosso cardápio!</p>

    <h2>🍻 Bebidas</h2>
    <ul>
        <li>Cerveja - R$ 8,00</li>
        <li>Refrigerante - R$ 5,00</li>
        <li.Água - R$ 3,00</li>
</ul>

     <h2>🍔 Porções</h2>
     <ul>
         <li>Batata Frita - R$ 20,00</li>
         <liCalabresa - R$25,00</li>
     </ul>


</body>
</html>
